<div class="container">
  <h1>Please login</h1>

  <form action="/login" method="post">
    Email:   <input type="text" name="email"><br>
    Password: <input type="text" name="password"><br>
    <input type="submit" value="Login">
  </form>
  <br>

</div>
