.layout_background{
   background: url(/images/question_background.jpg) no-repeat;
   background-size: 100% 100%;
   background-repeat: no-repeat;
}

.header{
    position:relative;
    left:27%;
    right:27%;
    width:36%;
    text-align:center;
    background-color:rgba(0, 0, 0, .9);
    /*background: rgba(0,0,0,1.0);*/
    font-family: 'Bangers', serif;
    font-size: 4.5em;
    color: #eeb213;
    border-radius: 2em;
    height:1.5em;
    padding-top: .5em;
}

.bmenu{
    padding: 0px;
    margin: 0 0 10px 0;
    position: relative;
    left:32%;
    right:15%;
    width:30%;
}

.bmenu li{
    font-size: 50px;
    display: block;
    font-family: 'Bangers', serif;
}

.bmenu li a{
  display: block;
  text-transform: uppercase;
  text-shadow: 0px 0px 2px #eeb213;
  color: #eeb213;
  padding: 5px 20px;
  margin: 2px;
  background: rgba(0,0,0,0.9);
  letter-spacing: 1px;
  text-align: center;
  text-decoration: none;
  border-radius: 20px;
  width:80%;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.bmenu:hover li a{
  text-shadow: 0px 0px 10px #eeb213;
  color: transparent;
  background: rgba(0,0,0,0.2);
}

.bmenu li a:hover{
  background: rgba(0,0,0,1.0);
  text-shadow: 0px 0px 1px #eeb213;
}

.logout_button{
  font-family: 'Bangers', serif;
  display: block;
  text-transform: uppercase;
  text-shadow: 0px 0px 2px #eeb213;
  color: #eeb213;
  padding: 5px 20px;
  margin: 2px;
  background: rgba(0,0,0,0.9);
  letter-spacing: 1px;
  text-align: center;
  text-decoration: none;
  border-radius: 20px;
  width:75%;
  margin-top: 10%;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear;
}


