  <h4>You've completed a round <%= @deck.name %>!</h4>

<ul>
  <li>You answered <%= first_guess(@game.id) %> out of <%= @deck.cards.length %> cards correctly on the first try. </li>
  <li>You submitted <%= total_guesses(@game.id) %> total guesses before each card was answered correctly.</li>
</ul>
