<link rel="stylesheet" href="../css/deck_index.css">
<link href='https://fonts.googleapis.com/css?family=Bangers' rel='stylesheet' type='text/css'>

<div class='deck_links'><H1>Decks available to play:</H1>
<% @decks.each do |deck| %>
  <a href="/decks/<%= deck.id %>"><h3><%= deck.name %></h3></a>
<%end%>
</div>
