<!DOCTYPE html>
<html lang="en">
<head>

  <link rel="stylesheet" href="/css/normalize.css">

  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title>Flashcard App</title>
</head>
<body>
  <div style="border: 1px solid black ">
    <h1>Welcome to the flashcard app!</h1>
    <br>
    <a href="/">Homepage</a>
    <br>
    <% if logged_in? %>
      <br>
      <a href="/users/<%= @user.id %>">User info</a>
      <br>
      <br>
      <form action="/logout" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="Logout">
      </form>
    <% else %>
      <br>
      <a href="/login">Login</a>
      <br>
      <br>
      <a href="/users/new">Create new account</a>
    <% end %>
    <br>
    <br>
  </div>
  <%= yield %>
</body>
</html>
